<div class="banner navbar fixed-top">
  <div class="container px-4 pt-2 d-flex align-items-center justify-content-start">
    <%= image_tag "logo.png", alt:"Runmate", class: "img"%>
    <%= link_to root_path do %>
      <h5>RunMate</h5>
    <% end %>
    <%= link_to notifications_path, class:"ms-auto p-2 d-flex" do %>
      <i class="notification fa-regular fa-bell"></i>
      <div class="pastille">
        <span class="notification-count">
        <% if current_user.unread_notifications_count > 9 %>
          <%= "9+" %>
        <% else %>
          <%= current_user.unread_notifications_count %>
        <% end %>
        </span>
      </div>
    <% end %>
    <%# à modifier pour notification_path %>
  </div>
</div>

<%# <%= current_user.unread_notifications_count %> %>
