<div class="banner navbar fixed-top" data-controller="notifications-subscription" data-notifications-subscription-user-id-value="<%= current_user.id if user_signed_in? %>">
  <div class="container px-4 pt-2 d-flex align-items-center justify-content-start">
    <%= link_to root_path do %>
      <%= image_tag "new_logo.png", alt:"Runmate", class: "img"%>
    <% end %>
    <%= link_to notifications_path, class:"notification-link ms-auto p-2 d-flex" do %>
      <i class="notification-bell fa-regular fa-bell"></i>
      <% if user_signed_in? %>
        <div class="pastille <%= "d-none" if current_user.unread_notifications_count == 0 %>" data-notifications-subscription-target="pastille">
          <% if current_user.unread_notifications_count > 9 %>
            <%= "9+" %>
          <% else %>
            <%= current_user.unread_notifications_count %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
