<%# Bottom navigation %>
<div id="navbar-list" data-controller="active-navbar">
  <div class="row">
    <div class="col">
      <% if current_page?(runs_path) %>
        <%= link_to runs_path, class:"link-bottom active" do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      <% else %>
        <%= link_to runs_path, class:"link-bottom" do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <% if current_page?(new_run_path) %>
        <%= link_to new_run_path, class:"link-bottom active" do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      <% else %>
        <%= link_to new_run_path, class:"link-bottom" do %>
          <i class="fa-solid fa-circle-plus"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col chatroom" data-controller="message-notifications-subscription" data-message-notifications-subscription-user-id-value="<%= current_user.id if user_signed_in? %>">
      <% if user_signed_in? %>
        <div class="pastille <%= "d-none" if current_user.unread_messages_count == 0 %>" data-notifications-subscription-target="pastillemessages">
          <% if current_user.unread_messages_count > 9 %>
            <%= "9+" %>
          <% else %>
            <%= current_user.unread_messages_count %>
          <% end %>
        </div>
      <% end %>
      <% if current_page?(chatrooms_path) %>
        <%= link_to chatrooms_path, class:"link-bottom active" do %>
          <i class="fa-solid fa-message"></i>
        <% end %>
        <% else %>
        <%= link_to chatrooms_path, class:"link-bottom" do %>
          <i class="fa-solid fa-message"></i>
        <% end %>
      <% end %>
    </div>
     <div class="col">
      <button class="bg-transparent border-0 p-0 link-bottom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="fa-solid fa-ellipsis"></i>
      </button>
    </div>
  </div>
</div>

<%# Side navigation %>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    <div >
      <% if user_signed_in? %>
        <%= link_to user_profile_path, class:"text-decoration-none d-flex flex-end align-items-center" do %>
        <%= cl_image_tag current_user.photo.key, class: "avatar me-3" %>
        <h5 class="m-0 pe-3" id="offcanvasRightLabel"><%= current_user.first_name %></h5>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column ps-4 mt-5" id="offcanvasMenu">
    <%= link_to "My Requests", attendances_path  %>
    <%= link_to "My Runs", dashboard_path %>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <% else %>
      <%= link_to "Log in", user_session_path %>
    <% end %>
    <%= link_to "Contacts", attendances_path  %>
    <%= link_to "Help", attendances_path  %>
  </div>
</div>
