<div class="profile">
  <div class="container px-4 py-4">

    <%= link_to :back, class:"text-decoration-none" do %>
      <span class="btn-back"><i class="fa-solid fa-circle-arrow-left"></i>BACK</span>
    <% end %>

    <div class="img">
      <%= cl_image_tag user.photo.key, class: "rounded-circle img-fluid" %>
      <% if can_edit %>
        <%= link_to edit_user_path(user), class: "btn btn-link" do %>
          <i class="fa-regular fa-pen-to-square"></i> Edit
        <% end %>
      <% end %>
    </div>
    <h1 class="mb-2"><%= user.first_name %> <%= user.last_name %></h1>
    <h2 class="mb-2">Runner since 2023</h2>
    <div class="mb-5 text-center">
      <button type="button" class="btn btn-outline">
        <i class="fab fa-facebook-f fa-lg"></i>
      </button>
      <button type="button" class="btn btn-outline">
        <i class="fab fa-twitter fa-lg"></i>
      </button>
      <button type="button" class="btn btn-outline">
        <i class="fab fa-skype fa-lg"></i>
      </button>
    </div>
    <p class="mb-5"><%= user.description %></p>
    <div class="row">
      <div class="col">
        <p class="mb-2 h5"><%= user.attendances.count %></p>
        <p class="mb-0">Runs joined</p>
      </div>
      <div class="col">
        <p class="mb-2 h5"><%= user.runs.count %></p>
        <p class="mb-0">Runs created</p>
      </div>
      <div class="col">
        <p class="mb-2 h5">4</p>
        <p class="mb-0">Rating</p>
      </div>
    </div>
  </div>
</div>
