<div class="form-container", data-controller="form-range">
  <%= simple_form_for run do |f| %>
    <%= f.input :name, placeholder: "Enter a name for your run", label: false %>
    <%= f.input :description, placeholder: "Write a short description", label: false %>
    <%= f.input :category, as: :radio_buttons, collection_wrapper_tag: "div", collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: {class: 'category-selector'}, collection: Run::CATEGORIES, label: "Choose a category for the run:" %>
    <%= f.input :level, as: :check_boxes, collection: 1..5, label: "What is the level of difficulty?", id: "level", input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item' %>
    <div class="range-input-container">
      <%= f.input :distance, as: :range, label: "How many km will you run? (min: 5km)", wrapper_html: { class: 'm-0' }, input_html: { min: 5, max: 50, step: 1, class: "range-input", data: { form_range_target: "valueKm", action: "input->form-range#changeKm" }} %>
      <span class="value" data-form-range-target="labelKm">28</span>
    </div>
    <%= f.input :date, label: "When is the run?", html5: true, input_html: { data: {controller: "datetime-input"}} %>
    <div class="range-input-container">
      <%= f.input :max_person, as: :range, label: "How many people can join?", input_html: { min: 1, max: 20, step: 1, class: "range-input", data: { form_range_target: "valuePeople", action: "input->form-range#changePeople" }} %>
      <span class="value" data-form-range-target="labelPeople">11</span>
    </div>
    <%= f.input :meeting_point, placeholder: "Where are you all meeting?", label: false %>
    <%= f.submit class: "btn btn-outline-primary mt-2" %>
  <% end %>
</div>

<%# Time.now.strftime("%Y-%m-%d") %>
