<div class="run-info">
  <%= link_to run_path(run) do  %>
  <% if run.photo.attached? %>
    <%= cl_image_tag run.photo.key, alt: "sport"%>
  <% else %>
    <%= image_tag("https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-4.0.3ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3028&q=80") %>
  <% end %>
    <div class="map-card-run-content mt-3">
      <div class="name"><%= run.name %></div>
      <div class="datetime d-flex justify-content-around">
        <div class="date"><i class="fa-regular fa-calendar"></i> <%= run.date.strftime("%b %e")%></div>
        <div class="date"><i class="fa-solid fa-clock"></i> <%= run.date.strftime("%l:%M %p")%></div>
      </div>
      <div class="category"><%= run.category %></div>
    </div>
  <% end %>
</div>
