<div id="searchBar" class="my-4">
  <%= form_with url: runs_path, method: :get do |f| %>
    <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"]%>">

      <%= f.text_field :address, { data: { address_autocomplete_target: "address" }, class:"d-none", placeholder: "Search Address"}
      %>
    </div>

    <div class="secondline d-flex py-2 m-1 mb-4 justify-content-between" data-controller="flatpickr">

      <div>

        <%= f.text_field :start_date, {data: {flatpickr_target: 'startDateInput'},class:"searchinput", placeholder: "Add dates" } %>

        <%= f.text_field :end_date, {data: {flatpickr_target: 'endDateInput'} , class: "d-none", placeholder: "Add dates"} %>

      </div>
      <div>
        <%= f.time_field :hour , class: "searchinput" %>
        <%# <%= f.time_field :hour , class: "searchinput", as: :time, :minute_step => 15 %>
      </div>

      <%= submit_tag "Find a run", class:"btn-search-index" %>

    </div>
  <% end %>
</div>
