<div class="back-link-box", style="padding-top: 75px">
  <%= link_to :back, class:"back-link-chat" do %>
    <span class="btn-back fs-6"><i class="fa-solid fa-circle-arrow-left fs-6 btn-back-blue me-1"></i>BACK</span>
  <% end %>
</div>
<div class="container-chatroom"
  data-controller="run-subscription"
  data-run-subscription-run-id-value="<%= @run.id %>"
  data-run-subscription-user-id-value=" <%= current_user.id %> ">
    <h1 class="title-chatroom">#<%= @run.name %></h1>
    <div class="messages" data-run-subscription-target="messages">
      <% @run.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <div class="message-input">
      <%= simple_form_for [@run, @message],
      html: { data: { action: "turbo:submit-end->run-subscription#resetForm" }, class: "d-flex" } do |f| %>
        <%= f.input :content,
          label: false,
          placeholder: "Message ##{@run.name}",
          wrapper_html: {class: "flex-grow-1"} %>
        <%= f.submit "Send", class: "btn-send" %>
      <% end %>
    </div>
</div>
