
<div class="show">
  <div class="container p-3">
    <div class="d-flex my-4">
      <div class="btn-back">
        <%= link_to :back, class:"d-flex me-4 mt-2" do%>
          <i class="fa-solid fa-circle-arrow-left fs-5 btn-back-blue"></i>
        <% end %>
      </div>
      <h1><%= @run.name %></h1>
    </div>
    <div class="run-leader d-flex align-items-end mb-4">
      <%= cl_image_tag @run.user.photo.key %>
      <div class="run-leader-info">
        <h2><%= @run.user.username.capitalize %></h2>
        <ul class="stars list-inline">
          <li class="list-inline-item"><i class="fa-solid fa-star"></i></li>
          <li class="list-inline-item"><i class="fa-solid fa-star"></i></li>
          <li class="list-inline-item"><i class="fa-solid fa-star"></i></li>
          <li class="list-inline-item"><i class="fa-solid fa-star"></i></li>
          <li class="list-inline-item"><i class="fa-solid fa-star"></i></li>
        </ul>
      </div>
    </div>
    <div class="run-image mb-4" style="background-image: url('<%= cl_image_path @run.photo.key %>')">
      <div class="run-image-info mb-4">
        <p><%= @run.category %></p>
        <p><%= @run.city %></p>
      </div>
    </div>


    <div class="run-specs mb-4">
      <div class="violet-square">
        <p>RunMates</p>
        <i class="fa-solid fa-user"></i><%= @run.attendances.count %>
      </div>
      <div class="violet-square">
        <p>Distance</p>
        <p><%= @run.distance %> km</p>
      </div>
      <div class="violet-square">
        <p>Level</p>
        <i class="fa-solid fa-gauge-high"></i><%= @run.level %>
      </div>
    </div>

    <div class="run-infos mb-4">
      <div class="run-date mb-4">
        <p><i class="fa-solid fa-calendar-days"></i><%= @run.date.strftime("%A, %b %d") %></p>
        <p><i class="fa-solid fa-clock"></i> <%= @run.date.strftime("%I:%M %p") %></p>
      </div>
      <div class="run-description">
        <p><%= @run.description %></p>
      <p class="address"><i class="fa-solid fa-location-dot"></i><%= @run.meeting_point %></p>
      </div>
      <div style="width: 100%; height: 20vh;"
      data-controller="smallmap"
      data-smallmap-markers-value="<%= @marker.to_json %>"
      data-smallmap-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
      <%= link_to "Join the run", new_run_attendance_path(@run), class:"join-button"%>
    <div class="attendants">
    <h3>They already joined the run</h3>
      <% @run.attendances.each do |attendance| %>
      <div class="attendant d-flex align-items-end">
        <%= cl_image_tag attendance.user.photo.key %>
        <div class="attendant-info">
          <h4><%= attendance.user.username.capitalize %></h4>
          <p>RunMate since <%= attendance.user.created_at.strftime("%B %Y") %></p>
        </div>
      </div>
        <% end %>

    </div>
    <% if user_signed_in? %>
      <% if @run.user == current_user %>
        <%= link_to ('<i class="fa-regular fa-pen-to-square"></i>').html_safe, edit_run_path, class: 'text-secondary fs-4 p-2' %>
        <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, run_path(@run), class: 'text-danger fs-4 p-2', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</div>
