

<div class="container p-3 mb-5">
  <h1><%= @run.name %></h1>
  <div class="run-leader">
    <%= cl_image_tag @run.user.photo.key %>
    <div class="run-leader-info">
      <%= @run.user.username %>
      <p>rating placeholder</p>
    </div>
  </div>
  <div class="run-image" style="background-image: url('<%= cl_image_path @run.photo.key %>')">
    <div class="run-image-info">
      <p><%= @run.category %></p>
      <p><%= @run.city %></p>
    </div>
  </div>
  <div class="run-description">
    <p><%= @run.description %></p>
  </div>
  <div class="run-infos">
    <p><%= @run.date.strftime("%b %e, %l:%M %p") %></p>
    <p><%= @run.meeting_point %></p>
    <div style="width: 100%; height: 20vh;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
  <div class="run-specs">
    <p><%= @run.attendances.count %></p>
    <p><%= @run.distance %></p>
    <p><%= @run.level %></p>
  </div>
  <%= link_to "Join the run", new_run_attendance_path(@run), class:"join-button"%>
  <div class="attendants">
    <% @run.attendances.each do |attendance| %>
    <div class="attendant">
      <%= cl_image_tag attendance.user.photo.key %>
      <%= attendance.user.username %>
      <p>See Profile</p>
    </div>
      <% end %>
  </div>
</div>





  <%= link_to "Edit your run", edit_run_path, class: "btn btn-outline-primary" %>
  <%= link_to "Delete your run", run_path(@run), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <%= link_to "Join the run", new_run_attendance_path(@run) %>
